@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: Lobster;
    font-style: normal;
    font-weight: 400;
    src: url("../../public/font/lobster.woff2") format("woff2");
}

@theme {
    --font-lobster: "Lobster";
}

.body {
    color: black;
    background-color: "#F9F7F4";
}
